/node_modules

# Игнорировать папку с переменными окружения
.env

# Игнорировать файлы настроек редакторов
.vscode/

# Игнорировать временные файлы и логи
*.log
*.tmp

# Игнорировать build и dist директории
/dist
/build